NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

JWT_KEY=https://github.com/rusdifz

HOST_DUMMY_JSON=https://jsonplaceholder.typicode.com/

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

REDIS_HOST_SLAVE=
REDIS_PORT_SLAVE=
REDIS_PASSWORD_SLAVE=